@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as breakpoints;
@use "../../styles/partials/resets";
@use "../../styles/partials/fonts";

.hero {
  height: 45vh;
  background-image: url(../../assets/images/whitewater.JPG);
  background-size: cover;
  display: flex;
  justify-content: center;
  &__link {
    text-decoration: none;
  }
  &__title {
    text-shadow: 2px 2px 5px rgb(8, 70, 140);
    color: rgb(171, 204, 241);
    background-color: rgba(132, 159, 183, 0.4);
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 5rem;
    padding: 2rem 6rem;
    border: none;
    border-radius: 100%;
    letter-spacing: 0.5rem;
    animation: 2s fadeup ease-out;
    &:hover {
      color: rgb(141, 192, 251);
      transition: 0.3s ease;
    }
  }
  @keyframes fadeup {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    20% {
      opacity: 0.2;
    }
    60% {
      color: $primary-white;
      opacity: 1;
      transform: translateY(0%);
      letter-spacing: 1rem;
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
      letter-spacing: 0.5rem;
    }
  }
}

.search {
  display: flex;
  justify-content: center;
  background-color: $lightblue;
  &__body {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    border: none;
    padding: 0.8rem 1rem;
    margin: 1rem;
    font-size: 1rem;
    width: 45%;
    border-radius: 2rem;
  }
}

.wrapper {
  color: $darkblue;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 16rem));
  gap: 2.5rem;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.card {
  overflow: hidden;
  box-shadow: 0 2px 20px $secondary-white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: tranform 200ms ease-in;

  &__img {
    height: 12rem;
    width: 100%;
    object-fit: cover;
    position: relative;
  }
  &__title {
    margin: 0;
    text-align: center;
    padding: 0.5rem 1rem;
  }
  &__description {
    padding: 0 1rem;
  }
  &__info {
    text-align: center;
    padding: 1rem;
  }
  &__details {
    font-weight: 700;
    padding: 0.5rem 0.2rem;
  }
  &__location {
    margin-top: 0.5rem;
    font-weight: 100;
    text-align: center;
  }

  &__fave {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__button {
    color: $darkblue;
    padding: 1rem;
    margin: 1rem;
    font-weight: 700;
    width: 90%;
    border: 2px solid $secondary-white;
    background: transparent;
    border-radius: 4rem;
    transition: background 0.2s ease-in, color 0.2s ease-in;
    &:hover {
      transform: scale(1);
      background-color: #1d2d3d;
      color: $primary-white;
    }
  }
  &__btn-fav {
    border: none;
    background-color: white;
    height: 2rem;
    width: 2rem;
  }
}
